<div class="body">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<h1 class="text-center">ご購入ありがとうございました。</h1>
			<div class="text-center">
				<%= link_to "買い物を続ける", products_path, class:"btn btn-primary" %>
			</div>
		</div>
	</div>
</div>